<nav>
    <div class="site-title">
        <h2>Rudi's awesome page</h2>
        <p>Rudi's test site</p>
    </div>

    <ul>
        <li><a href="/">Homepage</a></li>
        <li><a href="/about">About page</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>