<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rudi's page | <%= title %> </title>
</head>

<body>
    <nav>
        <div class="site-title">
            <h2>About page</h2>
            <p>Rudi's about site</p>
        </div>

        <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="/about">About page</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum 1</p>
        <p>Lorem ipsum 2</p>
        <p>Lorem ipsum 3</p>
    </div>
</body>

</html>